<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Load service</title>
<link rel="shortcut icon" type="image/png"
	href="@routes.Assets.versioned("images/favicon.png")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/angular-toastr/angular-toastr.css")">
<script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
</head>
<body ng-controller="loadServiceCtrl">

	

	<br>
	<div style="margin-left: 80px; margin-right: 80px" ng-cloak>

		<div id="IntroPage" ng-show="loadResourceList.length == 0">
			<div style="background-color: #fafafa;" class="row load_service_container">
				<div class="col-md-12 text-center">
					<h1>Load service</h1>
				</div>
				<div class="col-md-12 text-center">
					<p>A simple load service for sending http requests. Create and
						configure a load service with just a few clicks and keystrokes...</p>
				</div>
				<div ng-show="loadResourceList.length == 0" style="margin-top: 200px">
					<div class="col-md-12 text-center">
						<p>
							<button class="btn btn-primary btn-lg" ng-click="newLoadResource();">New load service!</button>
						</p>
					</div>
					<div class="col-md-12 text-center">
						<h4>OR</h4>
					</div>
					<div class="col-md-12 text-center">
						<p>						
							<button title="Join cloud" class="btn btn-primary btn-lg" ng-click="notImplemented()">
								Join the cluster
							</button>
						</p>
					</div>					
				</div>				
			</div>
		</div>

		<div id="resourcePage" ng-show="loadResourceList.length > 0">
			<div class="row">
				<div class="col-md-12 text-center"><h1>Load services</h1></div>
			</div>
			
			<div ng-repeat="resource in loadResourceList">
				<div class="load_service_container row flippable {{resource.currentSide}}">
					<div style="background-color: #fafafa;"
						class="flippable_content front">
						<div class="col-md-9">
							<h4 ng-show="!resource.create">
								<span ng-bind="resource.method"></span><span> </span><span
									ng-bind="resource.url"></span>
							</h4>
						</div>
						<div class="btn-group col-md-3" role="group" aria-label="...">		
								<button title="Save" type="button" class="btn btn-default"
									ng-click="saveLoadResource(resource, $index)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								</button>				
								<button title="Delete" type="button" class="btn btn-default"
									ng-click="deleteLoadResource(resource,$index)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
								<button ng-disabled="resource.create" ng-disabled="resource.create" title="Stop session" ng-show="resource.status === 'Active'" type="button" class="btn btn-default"
									ng-click="stopSession(resource)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								</button>
								<button ng-disabled="resource.create" title="Start session" ng-show="resource.status === 'Inactive'" type="button" class="btn btn-default"
									ng-click="startSession(resource)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
									</button>
							    <button ng-show="!resource.create" title="Export to file" type="button" class="btn btn-default"
									ng-click="notImplemented()" style="margin-top: 0px">
									 <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
									</button>  
								<button ng-show="resource.create" title="Import from file" type="button" class="btn btn-default"
									ng-click="notImplemented()" style="margin-top: 0px">
									 <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
									</button>
								<button ng-disabled="resource.create" title="Show statistics" type="button" class="btn btn-default"
									ng-click="showInfo($index)" style="margin-top: 0px">
									 <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
									</button>
									
									
						</div>
						<div class="col-md-12">
						<uib-tabset active="active">
    						<uib-tab index="0" heading="Request">
	    						<div ng-show="resource.create" class="col-md-6">
									<label for="method">Http Method</label>
									<select class="form-control" name="method" ng-model="resource.method">
								    	<option value="GET">GET</option>
								      	<option value="PUT">PUT</option>
								      	<option value="POST">POST</option>
								      	<option value="DELETE">DELETE</option>
								    </select>
								</div>
								<div ng-show="resource.create" class="col-md-6">
									<label for="path">Url</label> <input type="text"
										ng-model=resource.url class="form-control" id="url"
										placeholder="Path to resource">
								</div>
								<div class="col-md-12">
									<label for="maxTimeForRequestInMillis">Max time for request in millis</label> <input
										type="text" ng-model="resource.maxTimeForRequestInMillis" class="form-control"
										id="maxTimeForRequestInMillis" placeholder="Max time for request in millis">
								</div>
								<div class="col-md-12">
									<label for="numberOfRequestPerSecond">Number of requests per second</label> <input
										type="text" ng-model="resource.numberOfRequestPerSecond"
										class="form-control" id="numberOfRequestPerSecond"
										placeholder="Number of requests per second">
								</div>	
								<div class="col-md-12">
									<label for="numberOfSendingSlots">Number of slots per second</label> <input
										type="text" ng-model="resource.numberOfSendingSlots"
										class="form-control" id="numberOfSendingSlots"
										placeholder="Number of slots per second">
								</div>	
								<div class="col-md-12">
									<label for="rampUpTimeInSeconds">Ramp up time in seconds</label> <input
										type="text" ng-model="resource.rampUpTimeInSeconds"
										class="form-control" id="rampUpTimeInSeconds"
										placeholder="Ramp up time in seconds">
								</div>											   						
    						</uib-tab>
    						<uib-tab index="1" heading="Body">
    							<div class="col-md-12">
									<label for="body">Body</label>
									<textarea rows="10" ng-model="resource.body" class="form-control"
										id="body" placeholder="Body"></textarea>
								</div> 
    						</uib-tab>
     						<uib-tab index="2" heading="Parameters">
     							<ls-name-value name-values="resource.requestParameters" name-label="Parameter"></ls-name-value>
    						</uib-tab>  
     						<uib-tab index="3" heading="Headers">
     							<ls-name-value name-values="resource.headers" name-label="Header"></ls-name-value>
    						</uib-tab>  
     						<uib-tab index="4" heading="Authorization">
     						TODO
    						</uib-tab>      						  						 						
    						<uib-tab index="5" heading="Validation">
    							<div class="col-md-12">
									<label for="expectedResponseCode">Expected response code</label> <input
										type="text" ng-model="resource.expectedResponseCode" class="form-control"
										id="expectedResponseCode" placeholder="Expected response code">
								</div>
								<div class="col-md-12">
									<label for="expectedBody">Expected Body</label>
									<textarea rows="5" ng-model="resource.expectedBody" class="form-control"
										id="expectedBody" placeholder="Expected body"></textarea>
								</div>
    						</uib-tab>
    					</uib-tabset>	
    					</div>


						
					</div>
					<div style="background-color: #fafafa;"
						class="flippable_content back">
							<div class="row">
							<div class="col-md-9">
								<h4>
									<span ng-bind="resource.method"></span><span> </span><span
										ng-bind="resource.url"></span>
								</h4>
							</div>
							<div class="btn-group col-md-3" role="group" aria-label="...">
								<button title="Save" type="button" class="btn btn-default"
									ng-click="saveLoadResource(resource, $index)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								</button>
								<button title="Delete" type="button" class="btn btn-default"
									ng-click="deleteLoadResource(resource)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>							
								<button title="Stop session" ng-show="resource.status === 'Active'" type="button" class="btn btn-default"  
									ng-click="stopSession(resource)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								</button>
								<button title="Start session" ng-show="resource.status === 'Inactive'" type="button" class="btn btn-default"
									ng-click="startSession(resource)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-play" aria-hidden="true"></span>									
								</button>
							    <button ng-show="!resource.create" title="Export to file" type="button" class="btn btn-default"
									ng-click="notImplemented()" style="margin-top: 0px">
									 <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
									</button>  
								<button ng-show="resource.create" title="Import from file" type="button" class="btn btn-default"
									ng-click="notImplemented()" style="margin-top: 0px">
									 <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
									</button>
								<button title="Detailed configuration" type="button" class="btn btn-default"
									ng-click="showInfo($index)" style="margin-top: 0px">
									<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
								</button>
							</div>
							</div>
							<div class="row">
							<div class="col-md-3">
								<label for="maxTimeForRequestInMillis">Max time for request in millis</label> 
								<input type="text" ng-model="resource.maxTimeForRequestInMillis" class="form-control" id="maxTimeForRequestInMillis" placeholder="Max time for request in millis">
							</div>
							<div class="col-md-3">
								<label for="numberOfRequestPerSecond">Number of requests per second</label> 
								<input type="text" ng-model="resource.numberOfRequestPerSecond" class="form-control" id="numberOfRequestPerSecond" placeholder="Number of requests per second">
							</div>
							<div class="col-md-3">
								<label for="numberOfSendingSlots">Number of slots per second</label> 
								<input type="text" ng-model="resource.numberOfSendingSlots" class="form-control" id="numberOfSendingSlots" placeholder="Number of slots per second">
							</div>
							<div class="col-md-3">
								<label for="rampUpTimeInSeconds">Ramp up time in seconds</label> 
								<input type="text" ng-model="resource.rampUpTimeInSeconds" class="form-control" id="rampUpTimeInSeconds" placeholder="Ramp up time in seconds">
							</div>
							</div>		
							
												
							<div style="margin-top:5px" class="col-md-12">
								<uib-tabset active="statistics">
	    							<uib-tab index="0" heading="Overview">
			    						<div class="container">
											<div class="col-md-6">
												<h4 class="text-center">Successful Requests</h4>
												<div id="statistics" class="big-chart">
													<div class="chart-holder">
														<load-service-plot plot-options="sucessfulChartOptions" data="resource.plotData.successfulPlotData" class="chart"></load-service-plot>
													</div>
												</div>
											</div> 
											<div class="col-md-6">
												<h4 class="text-center">Failed Requests</h4>
												<div id="statistics" class="big-chart">
													<div>
														<load-service-plot plot-options="failedChartOptions" data="resource.plotData.failedPlotData" class="chart"></load-service-plot>
													</div>
												</div>
											</div> 
										</div>
	    							</uib-tab>
	    							<uib-tab index="1" heading="Successful Requests">
	 										<div class="col-md-12">
												<h4 class="text-center">Successful Requests</h4>
												<div id="statistics">
													<load-service-plot plot-options="sucessfulChartOptions" data="resource.plotData.successfulPlotData" class="chart" style="width:1000px"></load-service-plot>
												</div>
											</div>    							
	    							</uib-tab>
	    							<uib-tab index="2" heading="Failed Requests">
											<div class="col-md-12">
												<h4 class="text-center">Failed Requests</h4>
												<div id="statistics" class="big-chart">
													<load-service-plot plot-options="failedChartOptions" data="resource.plotData.failedPlotData" class="chart" style="width:1000px"></load-service-plot>
												</div>
											</div> 
	    							</uib-tab>
	    							<uib-tab index="3" heading="Report">
	    								Add report
	    							</uib-tab>
	    						</uib-tabset>
	    					</div>
							
					</div>
					
				</div>
		</div>
			<div style="background-color: #fafafa;" class="row load_service_container" ng-show="!serviceUnderConstruction">
				<div style="margin-top: 100px" class="col-md-12 text-center">
					<p>
						<button class="btn btn-primary btn-lg" ng-click="newLoadResource()">New service!</button>
					</p>
				</div>
			</div>
		</div>
		


	</div>




</body>
</html>
